<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>A Demo Servlet 3.1 Web Application</display-name>

    <servlet>
       <servlet-name>ManageStudentServlet</servlet-name>
        <servlet-class>com.higgsup.intern.w02.controller.ManageStudentServlet</servlet-class>
    </servlet>
    <servlet>
       <servlet-name>ManageClassroomServlet</servlet-name>
        <servlet-class>com.higgsup.intern.w02.controller.ManageClassroomServlet</servlet-class>
    </servlet>
    <servlet>
       <servlet-name>ManageEnrollmentServlet</servlet-name>
        <servlet-class>com.higgsup.intern.w02.controller.ManageEnrollmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentInfoServlet</servlet-name>
        <servlet-class>com.higgsup.intern.w02.controller.StudentInfoServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ManageStudentServlet</servlet-name>
        <url-pattern>/student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageClassroomServlet</servlet-name>
        <url-pattern>/classroom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageEnrollmentServlet</servlet-name>
        <url-pattern>/enrollment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentInfoServlet</servlet-name>
        <url-pattern>/student-info</url-pattern>
    </servlet-mapping>
</web-app>