<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>A Demo Servlet 3.1 Web Application</display-name>

    <servlet>
        <servlet-name>HelloWorldServlet</servlet-name>
        <servlet-class>com.higgsup.intern.w02.HelloServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HelloWorldServlet</servlet-name>
        <url-pattern>/say-hello</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>StudentServlet</servlet-name>
        <servlet-class>com.higgsup.intern.w02.servlets.StudentServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>StudentServlet</servlet-name>
        <url-pattern>/student</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EnrollmentServlet</servlet-name>
        <servlet-class>com.higgsup.intern.w02.servlets.EnrollmentServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EnrollmentServlet</servlet-name>
        <url-pattern>/enrollment</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>StudentInfoServlet</servlet-name>
        <servlet-class>com.higgsup.intern.w02.servlets.StudentInfoServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>StudentInfoServlet</servlet-name>
        <url-pattern>/student-info</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>ClassroomServlet</servlet-name>
        <servlet-class>com.higgsup.intern.w02.servlets.ClassroomServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ClassroomServlet</servlet-name>
        <url-pattern>/classroom</url-pattern>
    </servlet-mapping>
</web-app>