<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>Student Management</display-name>

    <servlet>
        <servlet-name>StudentServlet</servlet-name>
        <servlet-class>com.higgsup.intern.w02.servlet.StudentServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>StudentServlet</servlet-name>
        <url-pattern>/student</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EnrollmentServlet</servlet-name>
        <servlet-class>com.higgsup.intern.w02.servlet.EnrollmentServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EnrollmentServlet</servlet-name>
        <url-pattern>/enrollment</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StudentInfoServlet</servlet-name>
        <servlet-class>com.higgsup.intern.w02.servlet.StudentInfoServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>StudentInfoServlet</servlet-name>
        <url-pattern>/student-info</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ClassroomInfoServlet</servlet-name>
        <servlet-class>com.higgsup.intern.w02.servlet.ClassroomInfoServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ClassroomInfoServlet</servlet-name>
        <url-pattern>/classroom</url-pattern>
    </servlet-mapping>
</web-app>